* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
}

.container article img {
    position: relative;
    height: 100%;

}

.main {
    overflow: hidden;
}

main {
    position: relative;
}

main .container .main .banner-login .first-banner {
    height: 80%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 34%, rgba(255, 255, 255, 0) 100%);
}

main .container .banner-login {
    position: relative;
}

.banner-login .first-banner {
    position: absolute;
    top: 0;
    z-index: 1;
}

.container .logo {
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

.container .logo img {
    width: 70%;
    margin: 0 !important;
}

.container .logo .button {
    width: 100%;
    text-align: center;
}
.container .logo button {
    margin-top: 20px;
    padding: 8px 35px;
    font-size: 17px;
    color: #fff;
    background-color: rgb(249, 68, 68);
    border-radius: 10px;
    border: none;
    width: 130px;

}

.container .information {
    position: absolute;
    top: 30%;
    color: #fff;
    z-index: 3;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    font-size: 40px;
}

.container .login {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 100%;
    z-index: 1;
}

.container .login img {
    width: 220px;
    border-radius: 10px;
}

.container .login:hover>img {
    cursor: pointer;
}

.header {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    text-align: center;
}




/* Đổi màu thanh cuộn trình duyệt */
::-webkit-scrollbar {
    background: #000;
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

@media (min-width: 992px) {
    .container .logo {
        width: 100%;
        z-index: 2;
    }
    .container .logo img {
        width: 25%;
    }

    body {
        background-image: url("/IMAGE/TrangChu/nen-web.png");
        background-size: cover;
    }

    main .container .main .banner-login .first-banner {
        height: 33%;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 34%, rgba(255, 255, 255, 0) 100%);
    }

    main .container .main .banner-login img {
        display: flex;
        top: 0px;
    }

    .header {
        display: grid;
        grid-template-columns: 80% 20%;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: left;
    }

}