* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
@font-face {
    font-family: chutieude;
    src: url("../FONT/UTM\ Avenida.ttf") format('truetype'),
    url("../FONT/UTM\ AvenidaIE.eot") format('embedded-opentype');
    /* Đường dẫn font                  Đuôi - kiểu của font chữ */

}
/* body {
    background-color: #1a1a1a;
} */
.container {
    position: relative;
}
.container img {
    position: relative;
    height: 100%;
    object-fit: cover;
}

main {
    position: relative;
}

main .container .banner-login .first-banner {
    height: 80%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 34%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

main .container .banner-login {
    position: absolute;
    top: 0px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.banner-login .first-banner {
    position: absolute;
    top: 0;
}
.banner {
    display: none;
}
.banner-small{
    display: inline;
}
.container .banner-login .banner-small {
    width: 100vw;
}
.container .banner-login img{
    width: 100%;
}
.baongoai {
    position: absolute;
    top: 0px;
    width: 100%;
}
.container .logo {
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

.container .logo img {
    width: 70%;
    margin: 0 !important;
}

.container .logo .button {
    width: 100%;
    text-align: center;
}
.container .logo button {
    margin-top: 20px;
    padding: 8px 35px;
    font-size: 17px;
    color: #fff;
    background-color: rgb(249, 68, 68);
    border-radius: 10px;
    border: none;
    width: 130px;
}
.container button:hover {
    cursor: pointer;
}

.container .information {
    display: grid;
    grid-template-columns: auto;
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: chutieude;
    font-size: 40px;
    margin-top: 20px;
}
.container .information .title{
    z-index: 1;
    font-size: 40px;
    padding: 10px;
}
.container .information .day {
    font-size: 30px;
}
.login .login-div{
    width: 325px;
    height: 60px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    color: rgba(56, 141, 219, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.chuyentoi {
    width: 320px;
    height: 55px;
    position: absolute;
    top: 0;
    text-align: right;
    background-color: rgba(51, 51, 51, 0.948);
    border-radius: 10px;
    transform: translateX(-324px);
    border: 2px solid white;

}
.chuyentoi .fa-solid {
    font-size: 50px;
    color: rgb(245, 245, 245);
    margin-right: 20px;
}
.login-div:hover .chuyentoi {
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.header {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    text-align: center;
}


/* Đổi màu thanh cuộn trình duyệt */
::-webkit-scrollbar {
    background: #000;
    width: 11px;
    height: 11px;
}
/* Màu nền thanh cuộn */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}
/* Màu thanh cuộn */
@media (min-width: 576px) {
    .container .information .title{
        font-size: 50px;
    }
    .container .information .day {
        font-size: 40px;
    }
}
@media (min-width: 768px) {
    .container .information .title{
        font-size: 60px;
    }
    .container .information .day {
        font-size: 50px;
    }
}
@media (min-width: 992px) {
    .container .logo {
        width: 100%;
        z-index: 1;
    }
    .container .logo img {
        width: 25%;
    }

    main .container .banner-login .first-banner {
        height: 33%;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 34%, rgba(255, 255, 255, 0) 100%);
    }
    .container .banner-login {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .container .banner-login img {
        height: 100%;
    }
    .banner {
        display: inline;
    }
    .banner-small {
        display: none;
    }
    .container .header {
        display: grid;
        grid-template-columns: 80% 20%;
        text-align: left;
    }
    
    .container .information .title{
        font-size: 80px;
    }
    .container .information .day {
        font-size: 60px;
    }
    .container .information img {
        margin-top: 5rem;
    }
}

@media (min-width: 1920px ){
    .container .information .title{
        font-size: 10rem;
    }
    .day {
        font-size: 8rem;
    }
    .container .information img {
        width: 15%;
    }
}