* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(21, 21, 21) !important;
    background-image: url("../IMAGE/TrangChu/img-login/nen-web.webp");
    background-blend-mode: hard-light;
    background-size: cover;
    background-attachment: fixed;
}
.loading {
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    z-index: 50;
    text-align: center;
}
.loading img {
    width: 50%;
    margin: auto 0;
    animation: dichchuyen ease-out 1.5s forwards;
}
.loading .imgchaomung {
    opacity: 0;
    animation: loadding ease 1.5s forwards;
}
@keyframes dichchuyen {
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes loadding {
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}
@font-face {
    font-family: fontnav;
    src: url("../FONT/HeavyIE.ttf") format('truetype'),
        url("../FONT/Grenze/Grenze-ExtraBold.ttf") format('truetype');

}

header {
    display: grid !important;
    grid-template-columns: 70% 10% 20%;
    background-color: black;
    border-bottom: 4px solid rgba(252, 185, 0, 1);
    text-align: center;
}

/* Logo hiển thị 90% so với gird layout */
header>.logo {
    text-align: left;
}

header>.header>img {
    width: 60%;
}

.nav-ul li {
    display: block;
    text-transform: uppercase;
    font-family: fontnav;
    color: white;
}

.nav-ul li a {
    text-decoration: none;
    color: white;
}

/* Không hiển thị thanh điều hướng */
.nav-ul {
    list-style: none;
    padding: 0;
    display: block;
}

.nav-primary {
    display: none;
    width: 100vw;
    background-color: #000;
    margin-bottom: 10px;
}
.focus-nav {
    color: rgba(252, 185, 0, 1) !important;
}

/* không hiển thị thanh input tìm kiếm */
.head {
    display: none;
    margin-bottom: 10px;
    width: 100vw;
}

/* #input {
    display: inline;
    background-color: rgba(58, 58, 58, 1);
    border: none;
    outline: none;
    width: 60%;
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
    margin: 0 auto;
    color: rgb(248, 245, 245);
    font-size: 10px;
} */
#input:focus {
    color: orange;
}

.gcse-search {
    font-family: 'Times New Roman', Times, serif !important;
}
body .gsc-control-cse {
    width: 60% !important;
    background: none !important;
    border: none;
    padding: 0;
    margin: 0 auto;
}

.gsc-search-button {
    display: none;
}

#input #gsc-i-id1 {
    background: none !important;
    background-size: contain !important;
    color: chartreuse;
}
#gsc-iw-id1 {
    overflow: hidden;
    border-radius: 20px;
    background: url('/IMAGE/TrangChu/img-login/logo-tim-kiem.png') right no-repeat;
    background-size: contain !important;
    background-color: #333 !important;
    color: chartreuse;
    border: none !important;
}
.gsc-input-box::after {
    background-image: none !important;
}
/* Hiển thị icon menu*/
header #icon-menu,
#icon-search {
    margin: auto 0;
    font-size: 20px;
    cursor: pointer;
}

/* Không hiển thị banner quảng cáo */
.content-trangchu .banner-trangchu {
    display: none;
}

/* Hiện thị menu */
.nav-primary .nav-ul {
    width: 100%;
    margin: 0 auto;
}

.nav-ul li a {
    font-size: 12px;
}

.nav-ul li {
    display: inline;
    font-size: 12px;
    padding: 10px 10px;
}

ul li>#menucon {
    display: none;
    padding: 5px 0 5px 0;
    margin: 0;
    border-radius: 5px;
    width: 140px;
}

ul #menucon li {
    border-bottom: 1px solid salmon;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
}

ul #menucon li a {
    font-size: 12px;
}

.bodder-menucon {
    z-index: 2;
    position: relative;
}

ul .bodder-menucon:hover>#menucon {
    display: block;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 5px;
    padding: 0;
    margin:  0;
}

.bodder-menucon #menucon li:hover {
    border-bottom: 1px solid white;
    background-color: #333;
}

.nav-primary .nav-ul li a:hover {
    color: rgba(252, 185, 0, 1);
}

.nav-primary .nav-ul li:hover {
    color: rgba(252, 185, 0, 1);
}

/*các phim mới cập nhật*/
.title-phimmoicapnhat {
    color: rgba(252, 185, 0, 1);
    font-family: fontnav;
    width: 98%;
    text-align: left;
    font-size: 15px;
    margin: 20px auto;
    text-transform: uppercase;
}

.bodder-phimmoicapnhat {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.bodder-phimmoicapnhat .item-phimcapnhat {
    background-color: rgba(53, 52, 52, 0.73);
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 40% 59%;
    gap: 1%;
}

.item-phimcapnhat img {
    width: 100%;
    height: 99%;
    border-radius: 5px;
}

.poster-phim {
    position: relative;
    overflow: hidden;
}

.button {
    position: absolute;
    bottom: -50px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(0, 0, 0, 0.795);
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    z-index: -1;
    opacity: 0;
}

.poster-phim:hover>.button {
    z-index: 1;
    opacity: 1;
    transform: translateY(-53px);
    transition: all 0.5s ease;
}

.button button {
    background-color: rgba(58, 176, 255, 1);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
}

.button .button-xem {
    background-color: red;
    margin-right: 10px;
}

.title-phim {
    height: 12%;
    overflow: hidden;
    font-family: fontnav;
    font-size: 13px;
    color: rgba(252, 185, 0, 1);
}

.review-phim {
    margin-top: 2%;
    height: 87%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    color: rgb(186, 183, 183);
    font-family: sans-serif;
    padding: 10px;
}

.review-phim div {
    margin-bottom: 5px;
    font-size: 10px;
}

.review-phim div a {
    color: rgb(129, 129, 214);
    text-decoration: none;
}

.review-phim div a:hover {
    color: rgba(252, 185, 0, 1);
}

/* Các phim đề cử */
.phimdecu-trangchu {
    width: 98%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
}

.bodder-phimdecu {
    clear: both;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
}

.bodder-phimdecu .item-phimdecu img {
    width: 100%;
    height: 65%;
    border-radius: 2%;
}

.item-phimdecu {
    width: 92%;
    height: 99%;
    background-color: rgba(51, 51, 51, 1);
    padding: 2%;
    padding-bottom: 10%;
    color: rgb(186, 183, 183);
    border-radius: 3px;

}

.item-phimdecu .title-phim {
    font-family: fontnav;
    text-decoration: none;
    color: #fff;
}

.item-phimdecu div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: none;
    margin-top: 10px;
}

.item-phimdecu:hover img {
    filter: brightness(50%);
    /*điều chỉnh độ sáng của hình ảnh*/
    transition: all 0.1s;
}

.item-phimdecu>.watchmovie:hover {
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    color: rgba(252, 185, 0, 1);
}

.item-phimdecu div a {
    color: rgb(129, 129, 214);
    text-decoration: none;
}

.item-phimdecu div a:hover {
    color: rgba(252, 185, 0, 1);
}

.watchmovie {
    cursor: pointer;
}

/* Thanh menu bên phải */
.phimdecu-trangchu #menu-right {
    width: 100%;
}

#menu-right {
    display: none;
    background-color: rgba(28, 28, 28, 1);
    height: 700px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
}

#menu-right ul {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

#menu-right ul li {
    display: grid;
    grid-template-columns: 18% 82%;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dashed white;
    margin-bottom: 10px;
}

#menu-right ul li img {
    width: 100%;
    border: 1px solid white;
}

#menu-right ul li div {
    padding-left: 10px;
    color: rgb(101, 101, 101);
}

#menu-right ul li div div {
    padding: 0px;
    color: rgba(196, 196, 196, 1);
    text-decoration: none;
    cursor: pointer;
}

#menu-right ul li div:hover div {
    color: rgba(252, 185, 0, 1);
    text-decoration: underline;
}

/* Thanh chuyển trang phía dưới */
.nav-bottom {
    width: 100%;
    text-align: center;
    color: #fff;
}

#truoc,
#sau {
    background-color: #333;
    width: max-content;
    color: rgba(252, 185, 0, 1);
    padding: 10px 20px;
    font-weight: bold;
    font-family: fontnav;
    border-radius: 05px;
    font-size: 10px;
    border: none;
    margin: 0 20px;
    cursor: pointer;
}


#menu-right::-webkit-scrollbar {
    width: 5px;
    /* Chiều rộng vùng chứa scrollbar */
}

#menu-right::-webkit-scrollbar-track {
    background: rgba(28, 28, 28, 1);
    /* Màu nền ngoài của thanh scrollbar */
}

#menu-right::-webkit-scrollbar-thumb {
    background-color: rgb(92, 90, 90);
    /* Màu của thanh cuộn (scroll thumb) */
    border-radius: 0px;
    /* Bo góc scroll thumb */
    /* border: 2px solid #ccc; */
    /* Không hỗ trợ padding, margin, transition nên dùng viền cùng màu nên để padding scroll thumb */
}

#menu-right::-webkit-scrollbar-thumb:hover {
    background-color: #ff8000;
    /* Hiệu ứng di chuột đổi màu*/
}

#menu-right {
    /*cho Firefox*/
    scrollbar-width: thin;
    /* "auto" hoặc "thin" */
    scrollbar-color: orange rgb(92, 90, 90);
    /* scroll thumb and track */
}

/* Đổi màu thanh cuộn trình duyệt */
::-webkit-scrollbar {
    background: #000;
    width: 11px;
    height: 11px;
}

/* Màu nền thanh cuộn */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

/* Css cho footer */
.before-footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 9%, rgba(241, 247, 249, 0) 100%);
    height: 100px;
}

.footer {
    background-color: #000;
    background-image: url('../IMAGE/TrangChu/img-login/footer.webp');
    background-size: 100vw;
    background-repeat: no-repeat;
    height: fit-content;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    padding: 20px;
    text-align: center;
    color: white;
}

.footer .logo-footer div {
    color: white;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 10px;

}

footer {
    background-color: #000;
}

.footer .logo-footer img {
    width: 50%;
}

.theloai-footer ul {
    padding: 0;
    margin: 0;
}

.theloai-footer ul li {
    list-style: none;
}

.footer .theloai-footer {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.theloai-footer:first-child {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 70%;
}

.theloai-footer ul li {
    list-style: none;
    padding: 2px;
    text-align: right;
}

.footer .theloai-footer .theloai-part2 li {
    text-align: left;
    padding-left: 30px;
}

.theloai-footer .theloai-part2 {
    margin-top: 20px;
}

.theloai-footer ul li a {
    list-style: none;
    text-decoration: none;
    color: rgb(129, 129, 214);
    font-size: 10px;
}

.footer .lienhe .theloai-title {
    margin-bottom: 20px;
}

.theloai-footer .theloai-title {
    width: 90vw;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.theloai-title {
    font-family: fontnav;
    color: rgba(252, 185, 0, 1);
    text-transform: uppercase;
    font-size: 12px;
    margin: 0px;
}

.icon a,
.icon {
    display: inline;
    font-size: 15px;
    padding: 5px;
    color: #fff;
}

.icon:hover a {
    color: violet;
}

@media (min-width: 500px) {
    .title-phimmoicapnhat {
        font-size: 20px;
    }

    .title-phim {
        font-size: 18px;
    }

    .review-phim {
        padding: 15px;
    }

    .review-phim div {
        margin-bottom: 18px;
        font-size: 15px;
    }

    /* reponsive phim đề cử */
    .item-phimdecu div {
        font-size: 16px;
    }

    /* reponsive footer */
    .footer .logo-footer img {
        width: 30%;
    }

    .footer .logo-footer div {
        font-size: 13px;
    }

    .theloai-footer:first-child {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 70%;
    }

    .theloai-footer ul li {
        list-style: none;
        padding: 5px;
        padding-right: 20px;
        text-align: right;
    }

    .theloai-footer .theloai-part2 {
        margin-top: 30px;
    }

    .theloai-footer .theloai-part2 li {
        text-align: left;
    }

    .theloai-footer ul li a {
        font-size: 13px;
    }

    .theloai-title {
        font-size: 15px;
    }

    .icon a,
    .icon {
        font-size: 18px;
    }
}

@media (min-width: 576px) {

    /* reposive cho header và menu*/
    header>.header>img {
        width: 40%;
    }

    .nav-ul li a {
        font-size: 15px;
    }

    .nav-ul li {
        font-size: 15px;
        padding: 20px;
    }

    /* #input {
        width: 50%;
        background-image: url("/IMAGE/TrangChu/img-login/logo-tim-kiem.png");
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 15px;
        padding: 10px;
    } */

    /* reposive cho phim mới cập nhật*/
    .title-phim {
        font-size: 20px;
    }

    /* reponsive cho phim đề cử */
    .bodder-phimdecu {
        grid-template-columns: auto auto auto;
    }

    .item-phimdecu .title-phim {
        font-size: 18px;
    }

    /* reponsive footer */

    .theloai-footer:first-child {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 70%;
    }

    .theloai-footer ul li a {
        font-size: 13px;
    }

    .theloai-title {
        font-size: 15px;
    }

    .icon a,
    .icon {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .loading img {
        width: 20%;

    }
    /* reposive cho header và menu*/
    header>.header>img {
        width: 40%;
    }

    header #icon-menu,
    #icon-search {
        font-size: 25px;
    }

    .nav-ul li a {
        font-size: 15px;
    }

    .nav-ul li {
        font-size: 15px;
        padding: 20px;
    }

    /* reposive cho phim mới cập nhật*/
    .title-phimmoicapnhat {
        font-size: 18px;
    }

    .title-phim {
        font-size: 20px;
        height: fit-content;
    }

    .review-phim div {
        margin-bottom: 25px;
    }

    /* reponsive cho phim đề cử */
    .bodder-phimdecu {
        clear: both;
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 20px;
    }

    /* Thanh menu bên dưới */
    #truoc,
    #sau {
        font-size: 15px;
    }

    /* reponsive footer */
    .footer {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }

    .footer .logo-footer img {
        width: 70%;
    }

    .theloai-footer .theloai-title {
        width: 100%;
        text-align: right;
    }

    .footer .logo-footer img {
        width: 50%;
    }

    .theloai-footer ul li a {
        font-size: 15px;
    }

    .theloai-title {
        font-size: 18px;
    }

    .icon a,
    .icon {
        font-size: 22px;
    }
}

@media (min-width: 992px) {

    /* reposive cho header và menu*/
    header {
        display: grid;
        grid-template-columns: 15% 30% 55%;
        background-color: black;
        border-bottom: 4px solid rgba(252, 185, 0, 1);
        text-align: center;
    }

    header .header {
        margin: auto 0;
        width: 100%;
    }

    header #icon-menu,
    #icon-search {
        display: none;
    }

    .nav-primary {
        width: 100%;
        text-align: right;
        padding-right: 10px;
        display: inline !important;
    }

    .nav-primary ul {
        display: inline;
    }

    .nav-ul:hover li {
        display: inline;
    }

    /* header #input {
        display: inline;
        background-color: rgba(58, 58, 58, 1);
        background-image: url('../IMAGE/TrangChu/img-login/logo-tim-kiem.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        width: 70%;
        border-radius: 20px;
        padding: 12px;
        padding-left: 15px;
        color: rgb(248, 245, 245);
    } */

    header>.header>img {
        width: 100%;
    }

    .nav-ul {
        list-style: none;
        display: inline;
        padding: 0;
        width: 100%;
    }

    .nav-ul li {
        text-transform: uppercase;
        font-family: fontnav;
        color: white;
        font-size: 15px;
        display: inline;
        margin: 20px;
        padding: 0;
    }

    .nav-ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }


    .content-trangchu .banner-trangchu {
        display: block;
        width: 90%;
        height: 220px;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
        border: 5px solid saddlebrown;
        border-radius: 5px;
        position: relative;
    }

    .banner-trangchu img {
        width: 100vw;
        position: absolute;
        top: -30px;
    }

    .title-phimmoicapnhat {
        font-size: 20px;
        width: 90%;
    }

    .bodder-phimmoicapnhat {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 25px;
        width: 90%;
        height: 100%;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    .bodder-phimmoicapnhat .item-phimcapnhat {
        background-color: rgba(53, 52, 52, 0.73);
        width: 100%;
    }


    .head {
        display: inline !important;
    }

    header .head .input-form {
        height: 40px;
        width: 100%;
        position: relative;
    }

    /* .head .input-form input {
        width: 100%;
        border: none;
        border-bottom: 2px solid silver;
    } */

    /* reposive cho phim mới cập nhật*/
    .title-phim {
        font-size: 18px;
    }

    .review-phim div {
        margin-bottom: 18px;
    }

    /* reponsive cho thanh menu bên */
    #menu-right {
        display: block;
    }

    /* reponsive cho phim đề cử */
    .phimdecu-trangchu {
        width: 90%;
        grid-template-columns: 78% 20%;
    }

    .item-phimdecu .title-phim {
        font-size: 15px;
    }

    .bodder-phimdecu {
        clear: both;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        row-gap: 20px;
    }

    .item-phimdecu div {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {

    /* reposive cho header và menu*/
    .nav-ul li {
        font-size: 18px;
        padding: 10px;
    }

    .nav-ul li a {
        font-size: 18px;
    }

    ul li>#menucon {
        display: none;
        padding: 5px 0 5px 0;
        margin: 0;
        border-radius: 5px;
        width: 150px;
    }

    ul .bodder-menucon #menucon li{
        font-size: 15px;
        padding: 10px;
    }
    ul .bodder-menucon #menucon li a{
        font-size: 15px;
    }

    /* reposive cho phim mới cập nhật*/
    .item-phimdecu .title-phim {
        font-size: 18px;
    }

    .item-phimdecu div {
        font-size: 16px;
    }

    #menu-right ul {
        font-size: 15px;
    }

    /* Thanh menu bên dưới */
    #truoc,
    #sau {
        font-size: 16px;
    }

    /* reponsive footer */
    .footer .logo-footer div {
        font-size: 15px;
    }

    .theloai-footer ul li a {
        font-size: 17px;
    }

    .footer .theloai-footer .theloai-part2 {
        margin-top: 38px;
    }

    .theloai-title {
        font-size: 20px;
    }

    .icon a,
    .icon {
        font-size: 25px;
    }
}