* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    background-image: url("../IMAGE/TrangChu/nen-web.png");
    background-blend-mode: hard-light;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: fontnav;
    src: url("../FONT/HeavyIE.ttf") format('truetype'),
    url("../FONT/Grenze/Grenze-ExtraBold.ttf") format('truetype');
         
}

header {
    display: grid;
    grid-template-columns: 70% 10% 20%;
    background-color: black;
    border-bottom: 4px solid rgba(252, 185, 0, 1);
    text-align: center;
}

/* Logo hiển thị 90% so với gird layout */
header>.logo {
    text-align: left;
}
header>.header>img {
    width: 60%;
}

.nav-ul li {
    display: block;
    text-transform: uppercase;
    font-family: fontnav;
    color: white;
}
.nav-ul li a {
    text-decoration: none;
    color: white;
}
/* Không hiển thị thanh điều hướng */
.nav-ul {
    list-style: none;
    padding: 0;
    display: block;
}
.nav-primary{
    display: none;
    width: 100vw;
    background-color: #000;
    margin-bottom: 10px;
}

/* không hiển thị thanh input tìm kiếm */
.head{
    display: none;
}
/* Hiển thị icon menu và icon tìm kiếm */
header #icon-menu, #icon-search {
    margin: auto 0;
    font-size: 20px;
    cursor: pointer;
}
/* Không hiển thị banner quảng cáo */
.context-trangchu .banner-trangchu {
    display: none;
}
/* Hiện thị menu */
.nav-primary .nav-ul {
    width: 100%;
    margin: 0 auto;
}
 .nav-ul li a{
    font-size: 12px;
}
 .nav-ul li{
    display: inline;
    font-size: 12px;
    padding: 10px 10px;
}

ul li>#menucon {
    display: none;
    padding: 5px 0 5px 0;
    margin: 0;
    border-radius: 5px;
    width: 100px;
}
ul #menucon li {
    border-bottom: 1px solid salmon;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
}
ul #menucon li a {
    font-size: 12px;
    padding: 5px;
    
}
.bodder-menucon {
    z-index: 1;
    position: relative;
}
ul .bodder-menucon:hover>#menucon {
    display: block;
    background-color: #333;
    position: absolute;
    top: 22px;
    right: 0;
}
.bodder-menucon #menucon li:hover {
    border-bottom: 1px solid white;
}
.nav-primary .nav-ul li a:hover {
    color: rgba(252, 185, 0, 1);
}
.nav-primary .nav-ul li:hover {
    color: rgba(252, 185, 0, 1);
}



/*các phim mới cập nhật*/
.bodder-phimmoicapnhat {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5%;
    width: 90%;
    margin: 0 auto;
}

.bodder-phimmoicapnhat .item-phimcapnhat {
    background-color: rgba(53, 52, 52, 0.73);
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns:  40% 59%;
    gap: 1%;
}
.item-phimcapnhat img {
    width: 100%;
    border-radius: 5px;
}
.poster-phim {
    position: relative;
    overflow: hidden;
}
.button {
    position: absolute;
    bottom: -50px;
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(0, 0, 0, 0.795);
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    z-index: -1;
    opacity: 0;
}
.poster-phim:hover>.button {
    z-index: 1;
    opacity: 1;
    transform: translateY(-55px);
    transition: all 0.5s ease;
}
.button button {
    background-color: rgba(58, 176, 255, 1);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
}
.title-phim {
    height: 10%;
    overflow: hidden;
    font-family: fontnav;
    font-size: 12px;
    color: rgba(252, 185, 0, 1);
}
.review-phim {
    margin-top: 2%;
    height: 87%;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

/* Đổi màu thanh cuộn trình duyệt */
::-webkit-scrollbar {
    background: #000;
    width: 11px;
    height: 11px;
}
/* Màu nền thanh cuộn */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}



@media (min-width: 576px){
    /* reposive cho header và menu*/
    header>.header>img {
        width: 40%;
    }
    .nav-ul li a{
        font-size: 15px;
    }
     .nav-ul li{
        font-size: 15px;
        padding: 20px;
    }
}

@media (min-width: 768px){
    /* reposive cho header và menu*/
    header>.header>img {
        width: 40%;
    }
    header #icon-menu, #icon-search {
        font-size: 25px;
    }
    .nav-ul li a{
        font-size: 15px;
    }
     .nav-ul li{
        font-size: 15px;
        padding: 20px;
    }
}

@media (min-width: 992px) {
    /* reposive cho header và menu*/
    header {
        display: grid;
        grid-template-columns: 15% 30% 55%;
        background-color: black;
        border-bottom: 4px solid rgba(252, 185, 0, 1);
        text-align: center;
    }
    header .header {
        margin: auto 0;
    }
    .container header #icon-menu, #icon-search{
        display: none;
    }
    .nav-primary {
        width: 100%;
    }
    .nav-primary ul {
        display: inline;
    }
    .nav-ul:hover li{
        display: inline;
    }
    header #input {
        display: inline;
        background-color: rgba(58, 58, 58, 1);
        background-image: url('../IMAGE/TrangChu/logo-tim-kiem.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        width: 70%;
        border-radius: 20px;
        padding: 12px;
        padding-left: 15px;
        color: rgb(248, 245, 245);
    }
    
    header>.header>img {
        width: 100%;
    }
    
    .nav-ul {
        list-style: none;
        display: inline;
        padding: 0;
        width: 100%;
    }
    
    .nav-primary {
        text-align: right;
        padding-right: 10px;
        display: inline;
    }
    
    .nav-ul li {
        text-transform: uppercase;
        font-family: fontnav;
        color: white;
        font-size: 15px;
        display: inline;
        margin: 20px;
        padding: 0;
    }
    .nav-ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    

    .context-trangchu .banner-trangchu {
        display: block;
        width: 90%;
        height: 220px;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
        border: 5px solid saddlebrown;
        border-radius: 5px;
        position: relative;
    }
    
    .banner-trangchu img {
        width: 100vw;
        position: absolute;
        top: -30px;
    }
    
    .bodder-phimmoicapnhat {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
        width: 90%;
        margin: 0 auto;
    }
    
    .bodder-phimmoicapnhat .item-phimcapnhat {
        background-color: rgba(53, 52, 52, 0.73);
        width: 100%;
    }
    
    
    .head {
        display: inline;
    }
    header .head .input-form {
        height: 40px;
        width: 100%;
        position: relative;
    }
    
    .head .input-form input {
        width: 100%;
        border: none;
        border-bottom: 2px solid silver;
    }
    
}

@media (min-width: 1200px) {
    /* reposive cho header và menu*/
    .nav-ul li {
        font-size: 18px;
        padding: 10px;
    }
    .nav-ul li a {
        font-size: 18px;
    }
    ul li>#menucon {
        display: none;
        padding: 5px 0 5px 0;
        margin: 0;
        border-radius: 5px;
        width: 150px;
    }
    
    ul .bodder-menucon #menucon li a {
        font-size: 15px;
        padding: 10px;
        
    }
    
}