* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    background-image: url("../IMAGE/TrangChu/img-login/nen-web.png");
    background-blend-mode: hard-light;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: fontnav;
    src: url("../FONT/HeavyIE.ttf") format('truetype'),
    url("../FONT/Grenze/Grenze-ExtraBold.ttf") format('truetype');
         
}

header {
    display: grid;
    grid-template-columns: 70% 10% 20%;
    background-color: black;
    border-bottom: 4px solid rgba(252, 185, 0, 1);
    text-align: center;
}

/* Logo hiển thị 90% so với gird layout */
header>.logo {
    text-align: left;
}
header>.header>img {
    width: 60%;
}

.nav-ul li {
    display: block;
    text-transform: uppercase;
    font-family: fontnav;
    color: white;
}
.nav-ul li a {
    text-decoration: none;
    color: white;
}
/* Không hiển thị thanh điều hướng */
.nav-ul {
    list-style: none;
    padding: 0;
    display: block;
}
.nav-primary{
    display: none;
    width: 100vw;
    background-color: #000;
    margin-bottom: 10px;
}

/* không hiển thị thanh input tìm kiếm */
.head{
    display: none;
}
/* Hiển thị icon menu và icon tìm kiếm */
header #icon-menu, #icon-search {
    margin: auto 0;
    font-size: 20px;
    cursor: pointer;
}
/* Không hiển thị banner quảng cáo */
.context-trangchu .banner-trangchu {
    display: none;
}
/* Hiện thị menu */
.nav-primary .nav-ul {
    width: 100%;
    margin: 0 auto;
}
 .nav-ul li a{
    font-size: 12px;
}
 .nav-ul li{
    display: inline;
    font-size: 12px;
    padding: 10px 10px;
}

ul li>#menucon {
    display: none;
    padding: 5px 0 5px 0;
    margin: 0;
    border-radius: 5px;
    width: 100px;
}
ul #menucon li {
    border-bottom: 1px solid salmon;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
}
ul #menucon li a {
    font-size: 12px;
    padding: 5px;
    
}
.bodder-menucon {
    z-index: 1;
    position: relative;
}
ul .bodder-menucon:hover>#menucon {
    display: block;
    background-color: #333;
    position: absolute;
    top: 22px;
    right: 0;
}
.bodder-menucon #menucon li:hover {
    border-bottom: 1px solid white;
}
.nav-primary .nav-ul li a:hover {
    color: rgba(252, 185, 0, 1);
}
.nav-primary .nav-ul li:hover {
    color: rgba(252, 185, 0, 1);
}



/*các phim mới cập nhật*/
.title-phimmoicapnhat {
    color: rgba(252, 185, 0, 1);
    font-family: fontnav;
    width: 98%;
    text-align: left;
    font-size: 15px;
    margin: 20px auto;
    text-transform: uppercase;
}
.bodder-phimmoicapnhat {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.bodder-phimmoicapnhat .item-phimcapnhat {
    background-color: rgba(53, 52, 52, 0.73);
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns:  40% 59%;
    gap: 1%;
}
.item-phimcapnhat img {
    width: 100%;
    height: 99%;
    border-radius: 5px;
}
.poster-phim {
    position: relative;
    overflow: hidden;
}
.button {
    position: absolute;
    bottom: -50px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(0, 0, 0, 0.795);
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    z-index: -1;
    opacity: 0;
}
.poster-phim:hover>.button {
    z-index: 1;
    opacity: 1;
    transform: translateY(-53px);
    transition: all 0.5s ease;
}
.button button {
    background-color: rgba(58, 176, 255, 1);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
}
.button .button-xem {
    background-color: red;
    margin-right: 10px;
}
.title-phim {
    height: 10%;
    overflow: hidden;
    font-family: fontnav;
    font-size: 12px;
    color: rgba(252, 185, 0, 1);
}
.review-phim {
    margin-top: 2%;
    height: 87%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    color: rgb(186, 183, 183);
    font-family: sans-serif;
    padding: 10px;
}
.review-phim div {
    margin-bottom: 5px;
    font-size: 10px;
}
.review-phim div a{
    color: rgb(129, 129, 214);
    text-decoration: none;
}
.review-phim div a:hover{
    color: rgba(252, 185, 0, 1);
}

/* Các phim đề cử */
.phimdecu-trangchu {
    width: 98%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
}
.bodder-phimdecu {
    clear: both;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
}
.phimdecu-trangchu #menu-right {
    width: 100%;
}
.bodder-phimdecu .item-phimdecu img {
    width: 100%;
}
.item-phimdecu {
    width: 92%; 
    height: fit-content;
    background-color: rgba(51, 51, 51, 1);
    padding: 2%;
    padding-bottom: 10%;
    color: rgb(186, 183, 183);
    
}
.item-phimdecu .title-phim {
    font-family: fontnav;
    text-decoration: none;
}
.item-phimdecu div {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.item-phimdecu:hover img{
    filter: brightness(50%); /*điều chỉnh độ sáng của hình ảnh*/
    transition: all 0.1s;
}
.item-phimdecu>a:hover {
    text-decoration: underline;
    transition: all 1s ease-in-out;
}
.item-phimdecu div a {
    color: rgb(129, 129, 214);
    text-decoration: none;
}
.item-phimdecu div a:hover{
    color: rgba(252, 185, 0, 1);
}
#menu-right {
    display: none;
    background-color: rgba(28, 28, 28, 1);
    height: fit-content;
    width: 100%;
    padding: 10px;
}
#menu-right ul {
    margin: 0;
    padding: 0;
}
#menu-right ul li {
    display: grid;
    grid-template-columns: 18% 82%;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dashed white;
    margin-bottom: 10px;
}
#menu-right ul li img {
    width: 100%;
    border: 1px solid white;
}
#menu-right ul li div {
    padding-left: 10px;
    color: rgb(101, 101, 101);
}
#menu-right ul li div a {
    color: rgba(196, 196, 196, 1);
    text-decoration: none;
}
#menu-right ul li div:hover a {
    color: rgba(252, 185, 0, 1);
    text-decoration: underline;
}


/* Đổi màu thanh cuộn trình duyệt */
::-webkit-scrollbar {
    background: #000;
    width: 11px;
    height: 11px;
}
/* Màu nền thanh cuộn */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

@media (min-width: 500px) {
    .title-phim {
        font-size: 18px;
    }
    .review-phim {
        padding: 15px;
    }
    .review-phim div {
        margin-bottom: 18px;
        font-size: 15px;
    }
}

@media (min-width: 576px){
    /* reposive cho header và menu*/
    header>.header>img {
        width: 40%;
    }
    .nav-ul li a{
        font-size: 15px;
    }
     .nav-ul li{
        font-size: 15px;
        padding: 20px;
    }
    /* reposive cho phim mới cập nhật*/
    .title-phim {
        font-size: 20px;
    }
    /* reponsive cho phim đề cử */
    .bodder-phimdecu {
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 768px){
    /* reposive cho header và menu*/
    header>.header>img {
        width: 40%;
    }
    header #icon-menu, #icon-search {
        font-size: 25px;
    }
    .nav-ul li a{
        font-size: 15px;
    }
     .nav-ul li{
        font-size: 15px;
        padding: 20px;
    }
    /* reposive cho phim mới cập nhật*/
    .title-phimmoicapnhat {
        font-size: 18px;
    }
    .title-phim {
        font-size: 25px;
    }
    .review-phim div {
        margin-bottom: 25px;
    }
    /* reponsive cho phim đề cử */
    .bodder-phimdecu {
        clear: both;
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 20px;
    }
}

@media (min-width: 992px) {
    /* reposive cho header và menu*/
    header {
        display: grid;
        grid-template-columns: 15% 30% 55%;
        background-color: black;
        border-bottom: 4px solid rgba(252, 185, 0, 1);
        text-align: center;
    }
    header .header {
        margin: auto 0;
    }
    .container header #icon-menu, #icon-search{
        display: none;
    }
    .nav-primary {
        width: 100%;
    }
    .nav-primary ul {
        display: inline;
    }
    .nav-ul:hover li{
        display: inline;
    }
    header #input {
        display: inline;
        background-color: rgba(58, 58, 58, 1);
        background-image: url('../IMAGE/TrangChu/img-login/logo-tim-kiem.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        width: 70%;
        border-radius: 20px;
        padding: 12px;
        padding-left: 15px;
        color: rgb(248, 245, 245);
    }
    
    header>.header>img {
        width: 100%;
    }
    
    .nav-ul {
        list-style: none;
        display: inline;
        padding: 0;
        width: 100%;
    }
    
    .nav-primary {
        text-align: right;
        padding-right: 10px;
        display: inline;
    }
    
    .nav-ul li {
        text-transform: uppercase;
        font-family: fontnav;
        color: white;
        font-size: 15px;
        display: inline;
        margin: 20px;
        padding: 0;
    }
    .nav-ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    

    .context-trangchu .banner-trangchu {
        display: block;
        width: 90%;
        height: 220px;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
        border: 5px solid saddlebrown;
        border-radius: 5px;
        position: relative;
    }
    
    .banner-trangchu img {
        width: 100vw;
        position: absolute;
        top: -30px;
    }
    .title-phimmoicapnhat {
        font-size: 20px;
        width: 90%;
    }
    .bodder-phimmoicapnhat {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 25px;
        width: 90%;
        height: 100%;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }
    
    .bodder-phimmoicapnhat .item-phimcapnhat {
        background-color: rgba(53, 52, 52, 0.73);
        width: 100%;
    }
    
    
    .head {
        display: inline;
    }
    header .head .input-form {
        height: 40px;
        width: 100%;
        position: relative;
    }
    
    .head .input-form input {
        width: 100%;
        border: none;
        border-bottom: 2px solid silver;
    }

    /* reposive cho phim mới cập nhật*/
    .title-phim {
        font-size: 18px;
    }
    .review-phim div {
        margin-bottom: 18px;
    }
    /* reponsive cho thanh menu bên */
    #menu-right {
        display: block;
    }
    /* reponsive cho phim đề cử */
    .phimdecu-trangchu {
        width: 90%;
        grid-template-columns: 78% 20%;
    }
    .bodder-phimdecu {
        clear: both;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        row-gap: 20px;
    }
}

@media (min-width: 1200px) {
    /* reposive cho header và menu*/
    .nav-ul li {
        font-size: 18px;
        padding: 10px;
    }
    .nav-ul li a {
        font-size: 18px;
    }
    ul li>#menucon {
        display: none;
        padding: 5px 0 5px 0;
        margin: 0;
        border-radius: 5px;
        width: 150px;
    }
    
    ul .bodder-menucon #menucon li a {
        font-size: 15px;
        padding: 10px;
        
    }

    /* reposive cho phim mới cập nhật*/
    .title-phim {
        font-size: 20px;
    }
    
}