html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
#title-xem-phim {
    width: 100%;
    color: rgba(252, 185, 0, 1);
    text-transform: uppercase;
    font-size: 15px;
    font-family: fontnav;
    margin: 0 auto;
    margin-top: 10px;
}
.videophim {
    width: 100%;
    margin: 0 auto;
    border: 2px solid #333;
    margin-top: 10px;
    border-radius: 10px;
    position:relative; 
    overflow:hidden;
    height: 200px;
}
.videophim iframe {
    width: 100%;
    height: 100%;
}
.change-sever{
    color: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid rgb(186, 10, 10);
    padding: 10px;
}
.text-sever {
    font-size: 15px;
    display: block;
    font-style: italic;
    margin-bottom: 10px;
}
.title-sever {
    display: inline;
    margin: 10px;
    margin-left: 0;
    background-color: orangered;
    padding: 10px 5px;
    border-radius: 5px;
    font-weight: bold;
    
}
.change-sever button {
    margin-top: 10px;
    padding: 5px 2.5px;
    background-color: #333;
    border-radius: 5px;
    color: white;
}
#changetap button:hover, .change-sever button:hover {
    background-color: rgb(210, 205, 39);
    color: #333;
}
#changetap {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}
#changetap button {
    background-color: rgb(83, 67, 67);
    margin: 0px 5px;
    padding: 5px 15px;
    border-radius: 5px;
    color: aqua;
}
#changetap button:visited {
    background-color: rgb(210, 205, 39) ;
}
@media (min-width: 450px) {
    .videophim {
        height: 300px;
    }
}
@media (min-width: 576px) {
    .videophim {
        height: 380px;
    }
}
@media (min-width: 992px) {
    .videophim {
        width: 80%;
    }
    .videophim{
        height: 500px;
    }
    .change-sever,#changetap {
        width: 80%;
    }
    #title-xem-phim {
        width: 80%;
        font-size: 20px;
    }
}
@media (min-width: 1200px) {
    .videophim {
        width: 70%;
    }
    .videophim {
        height: 50vh;
        min-height: 600px;
    }
    .change-sever,#changetap {
        width: 70%;
    }
    #title-xem-phim {
        width: 70%;
        font-size: 25px;
    }
}